{% extends "base_generic.html" %}
{% block content %}

<div id="content" class="site-content">	
	<div id="primary" class="content-area grid-wide">
		<main id="main" class="site-main col-9-12">
			<article id="post-6" class="post-6 page type-page status-publish hentry">
				<header class="entry-header"><h1 class="entry-title">Thank You!</h1></header>
				<div class="entry-content">
					<p>Thank you for contacting Oak Hill Properties!  We will respond to your request within 48 hours.</p>
				</div>
			</article>
		</main>
	</div>
</div>



{% endblock %}
