/* For crispy forms */
/* To get rid of errors on number field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
legend{
    font-size: 20px;
    width: 50%;
}
/*fieldset{
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}*/
.asteriskField {
    display: none;
}
/* To get input box to span column width */
input[type=text] { 
    width: 100%; 
    box-sizing: border-box; 
    /*height: 28px; */
}

/* To get form centered */
form {
    width: 800px;
    margin: auto;
/*    box-sizing: border-box !important;*/
}

.form-horizontal {
    /*color: #000080 !important;*/
    /*background-color: #000080 !important;*/
}

input {
	margin: 20 !important;
}