html{
    margin:    0 auto;
    max-width: 1100px;
}

/*.site {
    min-width: 600px;
}*/

/* For crispy forms */
/* To get rid of errors on number field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
legend{
    font-size: 20px;
    width: 50%;
}
/*fieldset{
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}*/
.asteriskField {
    display: none;
}
/* To get input box to span column width */
input[type=text], input[type=email] { 
    width: 100%; 
    box-sizing: border-box; 
    /*height: 28px; */
}

/* To get contact form submit button centered */
.buttonHolder, input[type=submit] { 
    margin: auto !important;
    width: 50%;
}
input[type=submit] { 
    width: 100%;
}

/* To get form centered */
form {
    max-width: 600px;
    margin: auto;
/*    box-sizing: border-box !important;*/
}

.form-horizontal {
    /*color: #000080 !important;*/
    /*background-color: #000080 !important;*/
}

input {
	margin: 20 !important;
}

textarea {
    height: 50px;
}

.header-content {
    color: #000 !important;
    background: rgba(255,255,255,.5) !important;
}