{% extends "base_generic.html" %}
{% block content %}

<div id="content" class="site-content">	
	<div id="primary" class="content-area grid-wide">
		<main id="main" class="site-main col-9-12">
			<article id="post-6" class="post-6 page type-page status-publish hentry">
				<header class="entry-header"><h2 class="entry-title">Who we are</h2></header>
				<div class="entry-content">
					<p>We are a mom, dad, and daughter team working to meet the needs of members of our community who are looking to sell their homes quickly and hassle-free.  We also work to provide well-kept and affordable homes for those who need a place to live.</p>
					<p>If you are looking to sell your home and don't want to have to worry about working with agents, doing showings, making repairs, or any of the other headaches that come with selling your house on the traditional market, we would be happy to meet with you to discuss your needs.</p>
					<a href="/contact"><button>Get an offer</button></a>
				</div>
			</article>
		</main>
	</div>
</div>



{% endblock %}
