{% extends "base_generic.html" %}
{% block content %}

<div id="content" class="site-content">	
	<div id="primary" class="content-area grid-wide">
		<main id="main" class="site-main">
			<header class="entry-header"><h2 class="entry-title">Frequently Asked Questions</h2></header>
			<div class="entry-content">
				<h5>How long does it take to get an offer?</h5>
				<p>We are usually able to make a fair offer within 48 hours.</p>
				<h5>What if my house is in bad shape?</h5>
				<p>You do not need to worry about having to make any repairs, or to have your house spick-and-span for any showings. We will purchase it as-is.</p>
				<h5>What types of properties do you buy?</h5>
				<p>We buy all types of properties: single family homes, duplexes, condos, townhomes.  Whatever you are looking to sell, feel free to reach out!</p>
				<h5>Am I obligated to accept your offer?</h5>
				<p>Not at all. We hope to be able to make you an offer that is fair and appealing, but you are under no obligation to accept it if it does not meet your needs. You are also welcome to take as much time as you need to think about it.</p>

				<a href="/contact"><button>Get an offer</button></a>
			</div>
		</main>
	</div>
</div>



{% endblock %}
