SECRET_KEY = '*************'

DATABASES = {
    'default': {
        'ENGINE': '',
        'NAME': '',
	'USER': '',
	'PASSWORD': '',
	'HOST': '',
	'PORT': '',
    }
}

ROOT_URLCONF = 'website.urls'

STATIC_URL = '/static/'
STATIC_ROOT = os.path.dirname(BASE_DIR) + '/public/static/'
